
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#collapse-header-menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
            </button>

            <div class="logo">
                <div id="hide-menu" class="btn-header move-left"
                     style="float: left; margin-left: 5px;">
                    <!-- <span> <a href="javascript:void(0);" title="Collapse Menu"
                        data-action="toggleMenu"> <i class="fa fa-reorder"
                            style="line-height: 24px;"></i>
                    </a>
                    </span> -->
                </div>

                <div style="padding-left: 5px; width: 500px;">
                    <img
                        src="http://pipeline.web.att.com:8085/uui/public/img/globe.png"
                        class="att-globe-perm" alt="AT&amp;T" align="left">
                    <div id="appName" class="pull-left" style="margin-left: 10px;">
                        AT&T <span style="color: #3ca2e0;">Chatbot</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="collapse-header-menu">
            <ul class="nav navbar-nav navbar-right">

                                <li class="dropdown">
                                    <a ui-sref="settings"
                                       class="btn btn-white">Settings</a>


                                </li>
                                <li class="dropdown">
                                    <a ui-sref="FAQ"
                                       class="btn btn-white">FAQ</a>


                                </li>






                <li class="dropdown">
                    <a ui-sref="login"
                       class="btn btn-white">Logout</a>

                    <!-- <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button" aria-expanded="false">
                            Rakshith Kumar <span class="caret"></span>
                    </a> -->



                    <!-- <ul class="dropdown-menu" role="menu">
                        <li><a
                            href="https://wiki.web.att.com/display/TACT/Quick+Start+Guide"
                            target="_blank"><i class="fa fa-question-circle"
                                aria-hidden="true"></i> Deployment Pipeline Quick Start Guide</a></li>
                        <li><a
                            href="https://wiki.web.att.com/pages/viewpage.action?pageId=552768153"
                            target="_blank"><i class="fa fa-question-circle"
                                aria-hidden="true"></i> Eco Microservice Quick Start Guide</a></li>
                        <li><a href="http://pipeline.web.att.com:8085/uui//logout/"><i
                                class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    </ul> -->
                </li>







            </ul>
        </div>
    </div>

</div>
